UNICARIOCA - PÓS GRADUAÇÃO EM CIÊNCIA DE DADOS

ESTATÍSTICA APLICADA A NEGÓCIOS - AMOSTRAGEM - aula_02_C - DATASET - ÍRIS

Manuel Martins

## AMOSTRAGEM - DATASET IRIS

In [44]:
import pandas as pd
import seaborn as sns

# Carregando a base de dados IRIS:
iris = sns.load_dataset('iris')

In [45]:
# Visualizando as linhas iniciais do dataframe:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

INFORMAÇÕES DO DATASET IRIS
*   sepal_length  150 non-null    float64 Comprimento da sépala 
*   sepal_width   150 non-null    float64 Largura da sépala 
*   petal_length  150 non-null    float64 Comprimento da pétala
*   petal_width   150 non-null    float64 Largura da pétala
*   species                       Espécie

In [46]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [47]:
print("MAX n ROWS  m COLUMNS")
with pd.option_context('display.max_rows',10,'display.max_columns',6):
   print(iris)

MAX n ROWS  m COLUMNS
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [48]:
# ---------------------------------------------------------------
# AMOSTRA ALEATÓRIA SIMPLES SEM REPOSIÇÃO (PADRÃO) - TAMANHO n
# ---------------------------------------------------------------
df_sample = iris.sample(n=10)

# Informações do dataframe criado:
df_sample.shape
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 52 to 92
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  10 non-null     float64
 1   sepal_width   10 non-null     float64
 2   petal_length  10 non-null     float64
 3   petal_width   10 non-null     float64
 4   species       10 non-null     object
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes

In [49]:
# ------------------------------------------------------------------------------
# AMOSTRA ALEATÓRIA SIMPLES SEM REPOSIÇÃO (PADRÃO) - FRAÇÃO AMOSTRAL (frac=0.10)
# ------------------------------------------------------------------------------
df_sample = iris.sample(frac=0.10)

df_sample.shape
# Informações do dataframe criado:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 66 to 82
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  15 non-null     float64
 1   sepal_width   15 non-null     float64
 2   petal_length  15 non-null     float64
 3   petal_width   15 non-null     float64
 4   species       15 non-null     object
dtypes: float64(4), object(1)
memory usage: 720.0+ bytes

In [50]:
# ---------------------------------------------------------------
# AMOSTRA ALEATÓRIA SIMPLES COM REPOSIÇÃO  - TAMANHO n
# ---------------------------------------------------------------
df_sample = iris.sample(n=10,replace=True)

# Informações do dataframe criado:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 140 to 127
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  10 non-null     float64
 1   sepal_width   10 non-null     float64
 2   petal_length  10 non-null     float64
 3   petal_width   10 non-null     float64
 4   species       10 non-null     object
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes

In [51]:
# ---------------------------------------------------------------
# AMOSTRA ESTRATIFICADA - SKLEARN MODEL - TRAIN TEST SPLIT
# ---------------------------------------------------------------
from sklearn.model_selection import train_test_split

# Número de registros de cada instancia:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [52]:
# Geraçào da amostra de teste estratificada:
X_train, X_test, y_train, y_test = train_test_split(iris.drop('species',axis=1),
iris['species'], stratify=iris['species'], test_size=0.20)
# Quantidade de registros no conjunto de teste:
y_test.shape

(30,)

In [53]:
y_test.value_counts()

setosa        10
virginica     10
versicolor    10
Name: species, dtype: int64

In [54]:
# -------------------------------------------------------------------------------------------
# AMOSTRA SISTEMÁTICA - SELECIONA DE n EM n A PARTIR DE UMA SEMENTE (gerada aleatoriamente)
# -------------------------------------------------------------------------------------------
import numpy as np
# Seleciona um valor aleatório entre os valores de 0 a 10:
semente = np.random.choice(10, 1)        # O VALOR DA SEMENTE É GERADO ALEATORIAMENTE
semente
print(semente)

[9]

In [60]:
# Gera um array que inicia em 0 e termina em 100:  
indices = np.arange(0,100,semente)
indices

array([ 0,  9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99])

In [61]:
# Gera a amostra da base [iris] a partir do arquivo de índice  
amostra = iris.loc[indices,:]
amostra

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
9            4.9          3.1           1.5          0.1      setosa
18           5.7          3.8           1.7          0.3      setosa
27           5.2          3.5           1.5          0.2      setosa
36           5.5          3.5           1.3          0.2      setosa
45           4.8          3.0           1.4          0.3      setosa
54           6.5          2.8           4.6          1.5  versicolor
63           6.1          2.9           4.7          1.4  versicolor
72           6.3          2.5           4.9          1.5  versicolor
81           5.5          2.4           3.7          1.0  versicolor
90           5.5          2.6           4.4          1.2  versicolor
99           5.7          2.8           4.1          1.3  versicolor

In [62]:
amostra.shape
amostra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 99
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  12 non-null     float64
 1   sepal_width   12 non-null     float64
 2   petal_length  12 non-null     float64
 3   petal_width   12 non-null     float64
 4   species       12 non-null     object
dtypes: float64(4), object(1)
memory usage: 576.0+ bytes