In [1]:
#Importa as bibliotecas necessárias
import pandas as pd
import openpyxl

In [3]:
#Carrega o dataframe de dados
df = pd.read_excel('tx_bruta_mortalidade_RJ.xlsx')
# df=df.set_index("Município")

**Links:**
 - https://pandas.pydata.org/
 - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html
 - https://docs.continuum.io/anaconda/

**Pacotes Numpy - Matlotlib - Scipy - Statiscs - Math**

In [7]:
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statistics as st
#from statistics import multimode
import math as mat

**Impressão - Head / Pd.option max Rows Colums / Print / Shape / loc(label) - iloc(indice)**

In [8]:
print("haed") # Impressão (head)
df.head()

haed

,Município,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Angra dos Reis,4.688409,5.494377,5.456208,4.961169,4.921486,5.460884,4.899250,4.804475,5.050381,...,4.969138,5.379666,5.331302,5.401113,5.227894,5.311937,5.768262,5.471453,6.573482,6.380286
1,Aperibé,6.461051,8.035925,7.586207,5.600358,6.336720,7.576566,5.740528,6.029637,7.105685,...,6.727086,8.847111,8.632440,7.881068,8.042422,7.853403,8.525663,5.442640,8.318629,9.410974
2,Araruama,6.645656,6.816687,6.897080,6.695695,7.772473,6.699500,7.303447,7.616204,7.919771,...,7.732373,8.296612,8.271976,8.531530,8.445358,8.659694,8.034407,8.421450,9.233542,10.998339
3,Areal,5.726698,5.336697,6.972968,5.740636,7.142195,5.397493,7.674944,6.954351,7.483712,...,6.161898,6.779377,7.964161,7.316672,7.092199,7.843454,8.098789,8.431435,8.603678,10.498066
4,Armação dos Búzios,5.959732,4.814271,4.288330,5.061427,5.418741,5.500317,5.665838,5.509859,5.552175,...,6.031692,6.537910,7.050069,6.863089,7.820565,7.272393,7.490975,7.794508,8.556429,9.571598

In [11]:
print("max n rows m columns") # Impressão display: max_rows - max_columns
with pd.option_context('display.max_rows', 10, 'display.max_columns', 2):
    print(df)
print('---------------------------')
print('===========================')
print('Dimensões dataframe')
df.shape

max n rows m columns
             Município  ...       2021
0       Angra dos Reis  ...   6.380286
1              Aperibé  ...   9.410974
2             Araruama  ...  10.998339
3                Areal  ...  10.498066
4   Armação dos Búzios  ...   9.571598
..                 ...  ...        ...
87           Três Rios  ...  11.041854
88             Valença  ...  11.278929
89           Varre-Sai  ...   5.132361
90           Vassouras  ...  12.593372
91       Volta Redonda  ...  11.307065

[92 rows x 23 columns]
---------------------------
===========================
Dimensões dataframe

(92, 23)

### **Impressãoes com funçoes loc e iloc** ###

In [12]:
# ===========================================
# loc (label) - Impressão com label da linha 
# ===========================================
df.loc[[0,1,4]] # imprime as linhas de label 0 1 e 4

,Município,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Angra dos Reis,4.688409,5.494377,5.456208,4.961169,4.921486,5.460884,4.899250,4.804475,5.050381,...,4.969138,5.379666,5.331302,5.401113,5.227894,5.311937,5.768262,5.471453,6.573482,6.380286
1,Aperibé,6.461051,8.035925,7.586207,5.600358,6.336720,7.576566,5.740528,6.029637,7.105685,...,6.727086,8.847111,8.632440,7.881068,8.042422,7.853403,8.525663,5.442640,8.318629,9.410974
4,Armação dos Búzios,5.959732,4.814271,4.288330,5.061427,5.418741,5.500317,5.665838,5.509859,5.552175,...,6.031692,6.537910,7.050069,6.863089,7.820565,7.272393,7.490975,7.794508,8.556429,9.571598

In [14]:
df.loc[[0,1,4], '2000'] # imprime as linhas de label 0 1 e 4 da coluna 2000

0    4.688409
1    6.461051
4    5.959732
Name: 2000, dtype: float64

In [15]:
df.loc[0:4] # imprime as linhas de 0 até 4

,Município,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Angra dos Reis,4.688409,5.494377,5.456208,4.961169,4.921486,5.460884,4.899250,4.804475,5.050381,...,4.969138,5.379666,5.331302,5.401113,5.227894,5.311937,5.768262,5.471453,6.573482,6.380286
1,Aperibé,6.461051,8.035925,7.586207,5.600358,6.336720,7.576566,5.740528,6.029637,7.105685,...,6.727086,8.847111,8.632440,7.881068,8.042422,7.853403,8.525663,5.442640,8.318629,9.410974
2,Araruama,6.645656,6.816687,6.897080,6.695695,7.772473,6.699500,7.303447,7.616204,7.919771,...,7.732373,8.296612,8.271976,8.531530,8.445358,8.659694,8.034407,8.421450,9.233542,10.998339
3,Areal,5.726698,5.336697,6.972968,5.740636,7.142195,5.397493,7.674944,6.954351,7.483712,...,6.161898,6.779377,7.964161,7.316672,7.092199,7.843454,8.098789,8.431435,8.603678,10.498066
4,Armação dos Búzios,5.959732,4.814271,4.288330,5.061427,5.418741,5.500317,5.665838,5.509859,5.552175,...,6.031692,6.537910,7.050069,6.863089,7.820565,7.272393,7.490975,7.794508,8.556429,9.571598

In [17]:
# ===========================================
# iloc (indice) - Impressão com indice da linha 
# ===========================================
df.iloc[0:4] # Aqui usa o indicce para imprimir - não imprime o 4 ! - È exclusivo

,Município,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Angra dos Reis,4.688409,5.494377,5.456208,4.961169,4.921486,5.460884,4.899250,4.804475,5.050381,...,4.969138,5.379666,5.331302,5.401113,5.227894,5.311937,5.768262,5.471453,6.573482,6.380286
1,Aperibé,6.461051,8.035925,7.586207,5.600358,6.336720,7.576566,5.740528,6.029637,7.105685,...,6.727086,8.847111,8.632440,7.881068,8.042422,7.853403,8.525663,5.442640,8.318629,9.410974
2,Araruama,6.645656,6.816687,6.897080,6.695695,7.772473,6.699500,7.303447,7.616204,7.919771,...,7.732373,8.296612,8.271976,8.531530,8.445358,8.659694,8.034407,8.421450,9.233542,10.998339
3,Areal,5.726698,5.336697,6.972968,5.740636,7.142195,5.397493,7.674944,6.954351,7.483712,...,6.161898,6.779377,7.964161,7.316672,7.092199,7.843454,8.098789,8.431435,8.603678,10.498066

In [18]:
df.iloc[2:2]# Aqui não imprime o 2

Empty DataFrame
Columns: [Município, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Index: []

[0 rows x 23 columns]

In [42]:
# -----------------------------------------
# Somas - colunas e linhas (Algumas somas)
# -----------------------------------------
soma_ano = df.sum() # sum()  determina automaticamente colunas elegíveis para função sum
soma_ano

Município    Angra dos ReisAperibéAraruamaArealArmação dos ...
2000                                                624.660895
2001                                                625.518122
2002                                                 632.12304
2003                                                635.370039
2004                                                632.426157
2005                                                621.336456
2006                                                626.368577
2007                                                637.557751
2008                                                656.760604
2009                                                650.906813
2010                                                668.993103
2011                                                678.067118
2012                                                675.207463
2013                                                690.096578
2014                                                694.942442
2015                                                697.984554
2016                                                730.932365
2017                                                 724.08171
2018                                                730.908109
2019                                                732.745721
2020                                                859.491143
2021                                                932.353205
dtype: object

In [43]:
soma_ano2 = df.sum((0),(1)) # sum() faz  a soma ao longo das colunas (0), (1) = sum()
soma_ano2

Município    Angra dos ReisAperibéAraruamaArealArmação dos ...
2000                                                624.660895
2001                                                625.518122
2002                                                 632.12304
2003                                                635.370039
2004                                                632.426157
2005                                                621.336456
2006                                                626.368577
2007                                                637.557751
2008                                                656.760604
2009                                                650.906813
2010                                                668.993103
2011                                                678.067118
2012                                                675.207463
2013                                                690.096578
2014                                                694.942442
2015                                                697.984554
2016                                                730.932365
2017                                                 724.08171
2018                                                730.908109
2019                                                732.745721
2020                                                859.491143
2021                                                932.353205
dtype: object

In [44]:
soma_mun = df.sum((1),(0)) # sum() faz a soma ao longo das linhas (1), (0)
soma_mun

/tmp/ipykernel_200/2077302861.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  soma_mun = df.sum((1),(0)) # sum() faz a soma ao longo das linhas (1), (0)

0     116.586077
1     161.991332
2     173.928253
3     158.268869
4     139.999593
         ...
87    182.874032
88    187.267958
89    131.148422
90    197.713033
91    166.709427
Length: 92, dtype: float64

In [46]:
# -----------------------------------------
# Médias - colunas (ano) e linhas (Municipios)
# -----------------------------------------
media_ano = df.mean() # mean()  média das colunas (default)
media_ano

/tmp/ipykernel_200/2512921155.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  media_ano = df.mean() # mean()  média das colunas (default)

2000     6.789792
2001     6.799110
2002     6.870903
2003     6.906196
2004     6.874197
2005     6.753657
2006     6.808354
2007     6.929976
2008     7.138702
2009     7.075074
2010     7.271664
2011     7.370295
2012     7.339212
2013     7.501050
2014     7.553722
2015     7.586789
2016     7.944917
2017     7.870453
2018     7.944653
2019     7.964627
2020     9.342295
2021    10.134274
dtype: float64

In [47]:
media_ano = df.mean((0),(1)) # mean() média das colunas (default) - df.mean((0), (1)) (1) Indica que a média é por coluna
media_ano

/tmp/ipykernel_200/2213532939.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  media_ano = df.mean((0),(1)) # mean() média das colunas (default) - df.mean((0), (1)) (1) Indica que a média é por coluna

2000     6.789792
2001     6.799110
2002     6.870903
2003     6.906196
2004     6.874197
2005     6.753657
2006     6.808354
2007     6.929976
2008     7.138702
2009     7.075074
2010     7.271664
2011     7.370295
2012     7.339212
2013     7.501050
2014     7.553722
2015     7.586789
2016     7.944917
2017     7.870453
2018     7.944653
2019     7.964627
2020     9.342295
2021    10.134274
dtype: float64

In [51]:
media_mun = df.mean((1),(0)) # mean() média das colunas (default) - df.mean((1), (0)) (1) Indica que a média é por linha
media_mun

/tmp/ipykernel_200/2125963342.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  media_mun = df.mean((1),(0)) # mean() média das colunas (default) - df.mean((1), (0)) (1) Indica que a média é por linha

0     5.299367
1     7.363242
2     7.905830
3     7.194039
4     6.363618
        ...
87    8.312456
88    8.512180
89    5.961292
90    8.986956
91    7.577701
Length: 92, dtype: float64

In [57]:
# --------------------------------------------------------------------
# Insere a média por municipio na ultima coluna do dataframe original
# --------------------------------------------------------------------
df['média']=media_mun # A media dos municipios é inserida na última coluna do dataframe original
df.shape # Nova dimensão do dataframe

             Município      2000      2001      2002      2003      2004  \
0       Angra dos Reis  4.688409  5.494377  5.456208  4.961169  4.921486
1              Aperibé  6.461051  8.035925  7.586207  5.600358  6.336720
2             Araruama  6.645656  6.816687  6.897080  6.695695  7.772473
3                Areal  5.726698  5.336697  6.972968  5.740636  7.142195
4   Armação dos Búzios  5.959732  4.814271  4.288330  5.061427  5.418741
..                 ...       ...       ...       ...       ...       ...
87           Três Rios  7.156534  7.823862  8.124866  7.959565  8.060905
88             Valença  7.591392  7.857112  8.717563  8.087337  8.351623
89           Varre-Sai  8.088601  4.376368  5.951672  5.484887  6.525472
90           Vassouras  9.355380  8.211847  9.169002  9.961061  7.868362
91       Volta Redonda  6.690705  6.418506  6.635547  6.649726  6.904230

        2005      2006      2007      2008  ...      2013      2014      2015  \
0   5.460884  4.899250  4.804475  5.050381  ...  5.379666  5.331302  5.401113
1   7.576566  5.740528  6.029637  7.105685  ...  8.847111  8.632440  7.881068
2   6.699500  7.303447  7.616204  7.919771  ...  8.296612  8.271976  8.531530
3   5.397493  7.674944  6.954351  7.483712  ...  6.779377  7.964161  7.316672
4   5.500317  5.665838  5.509859  5.552175  ...  6.537910  7.050069  6.863089
..       ...       ...       ...       ...  ...       ...       ...       ...
87  8.411166  7.381417  7.838225  7.647104  ...  8.599785  7.552475  7.516283
88  7.722772  7.990114  7.808905  8.584880  ...  9.203073  8.299977  8.243112
89  5.283867  5.635982  5.761496  6.736527  ...  5.008514  5.645800  6.821412
90  7.118916  8.032247  8.728143  8.456415  ...  9.281849  9.257452  8.426888
91  6.597782  6.813595  6.950649  7.185693  ...  7.616590  7.541472  7.648398

        2016      2017      2018      2019       2020       2021     média
0   5.227894  5.311937  5.768262  5.471453   6.573482   6.380286  5.299367
1   8.042422  7.853403  8.525663  5.442640   8.318629   9.410974  7.363242
2   8.445358  8.659694  8.034407  8.421450   9.233542  10.998339  7.905830
3   7.092199  7.843454  8.098789  8.431435   8.603678  10.498066  7.194039
4   7.820565  7.272393  7.490975  7.794508   8.556429   9.571598  6.363618
..       ...       ...       ...       ...        ...        ...       ...
87  8.364266  8.558497  8.495697  9.473864  10.019235  11.041854  8.312456
88  8.693578  8.826906  8.284863  9.186780   8.963301  11.278929  8.512180
89  4.781101  6.588716  6.060606  5.727273   7.473438   5.132361  5.961292
90  9.143235  9.067996  8.582639  9.215091  10.058517  12.593372  8.986956
91  7.879401  7.680327  8.378738  8.574715   9.872695  11.307065  7.577701

[92 rows x 24 columns]

In [58]:
with pd.option_context('display.max_rows', 10):
    print(df)

             Município      2000      2001      2002      2003      2004  \
0       Angra dos Reis  4.688409  5.494377  5.456208  4.961169  4.921486
1              Aperibé  6.461051  8.035925  7.586207  5.600358  6.336720
2             Araruama  6.645656  6.816687  6.897080  6.695695  7.772473
3                Areal  5.726698  5.336697  6.972968  5.740636  7.142195
4   Armação dos Búzios  5.959732  4.814271  4.288330  5.061427  5.418741
..                 ...       ...       ...       ...       ...       ...
87           Três Rios  7.156534  7.823862  8.124866  7.959565  8.060905
88             Valença  7.591392  7.857112  8.717563  8.087337  8.351623
89           Varre-Sai  8.088601  4.376368  5.951672  5.484887  6.525472
90           Vassouras  9.355380  8.211847  9.169002  9.961061  7.868362
91       Volta Redonda  6.690705  6.418506  6.635547  6.649726  6.904230

        2005      2006      2007      2008  ...      2013      2014      2015  \
0   5.460884  4.899250  4.804475  5.050381  ...  5.379666  5.331302  5.401113
1   7.576566  5.740528  6.029637  7.105685  ...  8.847111  8.632440  7.881068
2   6.699500  7.303447  7.616204  7.919771  ...  8.296612  8.271976  8.531530
3   5.397493  7.674944  6.954351  7.483712  ...  6.779377  7.964161  7.316672
4   5.500317  5.665838  5.509859  5.552175  ...  6.537910  7.050069  6.863089
..       ...       ...       ...       ...  ...       ...       ...       ...
87  8.411166  7.381417  7.838225  7.647104  ...  8.599785  7.552475  7.516283
88  7.722772  7.990114  7.808905  8.584880  ...  9.203073  8.299977  8.243112
89  5.283867  5.635982  5.761496  6.736527  ...  5.008514  5.645800  6.821412
90  7.118916  8.032247  8.728143  8.456415  ...  9.281849  9.257452  8.426888
91  6.597782  6.813595  6.950649  7.185693  ...  7.616590  7.541472  7.648398

        2016      2017      2018      2019       2020       2021     média
0   5.227894  5.311937  5.768262  5.471453   6.573482   6.380286  5.299367
1   8.042422  7.853403  8.525663  5.442640   8.318629   9.410974  7.363242
2   8.445358  8.659694  8.034407  8.421450   9.233542  10.998339  7.905830
3   7.092199  7.843454  8.098789  8.431435   8.603678  10.498066  7.194039
4   7.820565  7.272393  7.490975  7.794508   8.556429   9.571598  6.363618
..       ...       ...       ...       ...        ...        ...       ...
87  8.364266  8.558497  8.495697  9.473864  10.019235  11.041854  8.312456
88  8.693578  8.826906  8.284863  9.186780   8.963301  11.278929  8.512180
89  4.781101  6.588716  6.060606  5.727273   7.473438   5.132361  5.961292
90  9.143235  9.067996  8.582639  9.215091  10.058517  12.593372  8.986956
91  7.879401  7.680327  8.378738  8.574715   9.872695  11.307065  7.577701

[92 rows x 24 columns]

In [68]:
df

,Município,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,média
0,Angra dos Reis,4.688409,5.494377,5.456208,4.961169,4.921486,5.460884,4.899250,4.804475,5.050381,...,5.379666,5.331302,5.401113,5.227894,5.311937,5.768262,5.471453,6.573482,6.380286,5.299367
1,Aperibé,6.461051,8.035925,7.586207,5.600358,6.336720,7.576566,5.740528,6.029637,7.105685,...,8.847111,8.632440,7.881068,8.042422,7.853403,8.525663,5.442640,8.318629,9.410974,7.363242
2,Araruama,6.645656,6.816687,6.897080,6.695695,7.772473,6.699500,7.303447,7.616204,7.919771,...,8.296612,8.271976,8.531530,8.445358,8.659694,8.034407,8.421450,9.233542,10.998339,7.905830
3,Areal,5.726698,5.336697,6.972968,5.740636,7.142195,5.397493,7.674944,6.954351,7.483712,...,6.779377,7.964161,7.316672,7.092199,7.843454,8.098789,8.431435,8.603678,10.498066,7.194039
4,Armação dos Búzios,5.959732,4.814271,4.288330,5.061427,5.418741,5.500317,5.665838,5.509859,5.552175,...,6.537910,7.050069,6.863089,7.820565,7.272393,7.490975,7.794508,8.556429,9.571598,6.363618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Três Rios,7.156534,7.823862,8.124866,7.959565,8.060905,8.411166,7.381417,7.838225,7.647104,...,8.599785,7.552475,7.516283,8.364266,8.558497,8.495697,9.473864,10.019235,11.041854,8.312456
88,Valença,7.591392,7.857112,8.717563,8.087337,8.351623,7.722772,7.990114,7.808905,8.584880,...,9.203073,8.299977,8.243112,8.693578,8.826906,8.284863,9.186780,8.963301,11.278929,8.512180
89,Varre-Sai,8.088601,4.376368,5.951672,5.484887,6.525472,5.283867,5.635982,5.761496,6.736527,...,5.008514,5.645800,6.821412,4.781101,6.588716,6.060606,5.727273,7.473438,5.132361,5.961292
90,Vassouras,9.355380,8.211847,9.169002,9.961061,7.868362,7.118916,8.032247,8.728143,8.456415,...,9.281849,9.257452,8.426888,9.143235,9.067996,8.582639,9.215091,10.058517,12.593372,8.986956
91,Volta Redonda,6.690705,6.418506,6.635547,6.649726,6.904230,6.597782,6.813595,6.950649,7.185693,...,7.616590,7.541472,7.648398,7.879401,7.680327,8.378738,8.574715,9.872695,11.307065,7.577701

### **Estatísticas descritivas do dataframe - describe** ###

In [61]:
# ---------------------------------------------------------------------------------------------
# Estastísticas  decritivas do dataframe - describe normal e com percetins P1 - P10 - P90 -P99
# --------------------------------------------------------------------------------------------
df.describe() # Resumo das principais estatíticas - padrão Q1 -Q2 - Q3

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,média
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,6.789792,6.799110,6.870903,6.906196,6.874197,6.753657,6.808354,6.929976,7.138702,7.075074,...,7.501050,7.553722,7.586789,7.944917,7.870453,7.944653,7.964627,9.342295,10.134274,7.489541
std,1.294308,1.114746,1.120001,1.241078,1.185604,1.193647,1.167516,1.083012,1.291333,1.141171,...,1.242762,1.139535,1.130521,1.238063,1.086134,1.083365,1.409543,1.531527,1.832044,1.013877
min,0.000000,3.771308,4.288330,4.223043,4.469505,3.298611,4.080854,4.696548,4.537359,4.645316,...,4.274388,5.152630,5.210801,4.781101,5.084853,5.174886,4.059108,5.957742,5.132361,5.205127
25%,6.182026,5.956269,6.115280,6.023312,6.280521,5.916391,5.839122,6.020694,6.429402,6.497818,...,6.782929,6.846413,6.835102,7.183622,7.265909,7.358105,7.133513,8.372891,9.048225,6.863482
50%,6.906514,6.825371,6.978982,6.954993,6.875969,6.694074,6.923224,7.021150,7.181707,7.031063,...,7.558920,7.540442,7.452483,8.090344,7.848429,8.066598,7.995409,9.322585,10.090291,7.546078
75%,7.598632,7.727270,7.472015,7.808452,7.660738,7.478515,7.671703,7.651106,7.779017,7.732257,...,8.217558,8.198289,8.247430,8.801621,8.586468,8.563498,8.929147,10.207520,11.285963,8.093112
max,9.355380,8.957452,9.512406,11.130639,11.242489,10.777521,9.874048,10.092097,13.016412,11.804384,...,12.853470,11.394466,11.274777,10.727108,10.847808,11.661285,11.692726,13.786514,14.564622,10.670853

In [62]:
df.describe([0.01, 0.10, 0.25, 0.50, 0.75, 0.90, 0.99]) # Resumo Específicando os percentis (1% - 10% - 25% - 50% - 75% - 90% - 99%)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,média
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,6.789792,6.799110,6.870903,6.906196,6.874197,6.753657,6.808354,6.929976,7.138702,7.075074,...,7.501050,7.553722,7.586789,7.944917,7.870453,7.944653,7.964627,9.342295,10.134274,7.489541
std,1.294308,1.114746,1.120001,1.241078,1.185604,1.193647,1.167516,1.083012,1.291333,1.141171,...,1.242762,1.139535,1.130521,1.238063,1.086134,1.083365,1.409543,1.531527,1.832044,1.013877
min,0.000000,3.771308,4.288330,4.223043,4.469505,3.298611,4.080854,4.696548,4.537359,4.645316,...,4.274388,5.152630,5.210801,4.781101,5.084853,5.174886,4.059108,5.957742,5.132361,5.205127
1%,3.928704,4.058927,4.393863,4.272131,4.644823,3.874457,4.311224,4.790130,4.683339,4.944069,...,4.942443,5.315222,5.383985,5.187682,5.291499,5.373203,5.287690,6.260649,5.674140,5.290886
10%,5.155681,5.496787,5.492122,5.461400,5.324559,5.310293,5.193059,5.522148,5.562156,5.651916,...,5.876762,6.123231,6.297903,6.223783,6.541919,6.603759,6.019999,7.401281,8.181653,6.242071
25%,6.182026,5.956269,6.115280,6.023312,6.280521,5.916391,5.839122,6.020694,6.429402,6.497818,...,6.782929,6.846413,6.835102,7.183622,7.265909,7.358105,7.133513,8.372891,9.048225,6.863482
50%,6.906514,6.825371,6.978982,6.954993,6.875969,6.694074,6.923224,7.021150,7.181707,7.031063,...,7.558920,7.540442,7.452483,8.090344,7.848429,8.066598,7.995409,9.322585,10.090291,7.546078
75%,7.598632,7.727270,7.472015,7.808452,7.660738,7.478515,7.671703,7.651106,7.779017,7.732257,...,8.217558,8.198289,8.247430,8.801621,8.586468,8.563498,8.929147,10.207520,11.285963,8.093112
90%,8.201117,8.107000,8.330465,8.224492,8.263011,8.318426,8.291486,8.173391,8.434032,8.288364,...,8.840983,8.941418,9.127136,9.294518,9.269143,9.033506,9.472293,11.141164,12.503976,8.631931
99%,8.876137,8.922306,9.411716,10.066323,9.623387,9.466378,8.903945,9.721430,10.364587,9.941963,...,10.018294,10.670970,10.511809,10.623827,10.092344,10.723152,11.454203,13.540271,13.792516,9.578917
max,9.355380,8.957452,9.512406,11.130639,11.242489,10.777521,9.874048,10.092097,13.016412,11.804384,...,12.853470,11.394466,11.274777,10.727108,10.847808,11.661285,11.692726,13.786514,14.564622,10.670853

In [64]:
df.describe([0.50]) # Resumo Específicando os percentis (50%)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,média
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,6.789792,6.799110,6.870903,6.906196,6.874197,6.753657,6.808354,6.929976,7.138702,7.075074,...,7.501050,7.553722,7.586789,7.944917,7.870453,7.944653,7.964627,9.342295,10.134274,7.489541
std,1.294308,1.114746,1.120001,1.241078,1.185604,1.193647,1.167516,1.083012,1.291333,1.141171,...,1.242762,1.139535,1.130521,1.238063,1.086134,1.083365,1.409543,1.531527,1.832044,1.013877
min,0.000000,3.771308,4.288330,4.223043,4.469505,3.298611,4.080854,4.696548,4.537359,4.645316,...,4.274388,5.152630,5.210801,4.781101,5.084853,5.174886,4.059108,5.957742,5.132361,5.205127
50%,6.906514,6.825371,6.978982,6.954993,6.875969,6.694074,6.923224,7.021150,7.181707,7.031063,...,7.558920,7.540442,7.452483,8.090344,7.848429,8.066598,7.995409,9.322585,10.090291,7.546078
max,9.355380,8.957452,9.512406,11.130639,11.242489,10.777521,9.874048,10.092097,13.016412,11.804384,...,12.853470,11.394466,11.274777,10.727108,10.847808,11.661285,11.692726,13.786514,14.564622,10.670853

In [65]:
df.mean()

/tmp/ipykernel_200/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

2000      6.789792
2001      6.799110
2002      6.870903
2003      6.906196
2004      6.874197
2005      6.753657
2006      6.808354
2007      6.929976
2008      7.138702
2009      7.075074
2010      7.271664
2011      7.370295
2012      7.339212
2013      7.501050
2014      7.553722
2015      7.586789
2016      7.944917
2017      7.870453
2018      7.944653
2019      7.964627
2020      9.342295
2021     10.134274
média     7.489541
dtype: float64

In [67]:
df.median() # Mediana = Q2

/tmp/ipykernel_200/171747111.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median() # Mediana = Q2

2000      6.906514
2001      6.825371
2002      6.978982
2003      6.954993
2004      6.875969
2005      6.694074
2006      6.923224
2007      7.021150
2008      7.181707
2009      7.031063
2010      7.358026
2011      7.406652
2012      7.298473
2013      7.558920
2014      7.540442
2015      7.452483
2016      8.090344
2017      7.848429
2018      8.066598
2019      7.995409
2020      9.322585
2021     10.090291
média     7.546078
dtype: float64

### **Ordenação do Describe um dataframe - Coluna ou Linha** ###

In [71]:
# ----------------------------------------------------------------------------------------------------
# Ordenação o Describe de um dataframe pro coluna ou por linha (O Describe ou é uma série ou dataframe)
# ----------------------------------------------------------------------------------------------------
df.describe().sort_values(by='mean', axis=1, ascending=True) # Ordena o Describe por uma variável que está na linha (mean)

,2005,2000,2001,2006,2002,2004,2003,2007,2009,2008,...,média,2013,2014,2015,2017,2018,2016,2019,2020,2021
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,6.753657,6.789792,6.799110,6.808354,6.870903,6.874197,6.906196,6.929976,7.075074,7.138702,...,7.489541,7.501050,7.553722,7.586789,7.870453,7.944653,7.944917,7.964627,9.342295,10.134274
std,1.193647,1.294308,1.114746,1.167516,1.120001,1.185604,1.241078,1.083012,1.141171,1.291333,...,1.013877,1.242762,1.139535,1.130521,1.086134,1.083365,1.238063,1.409543,1.531527,1.832044
min,3.298611,0.000000,3.771308,4.080854,4.288330,4.469505,4.223043,4.696548,4.645316,4.537359,...,5.205127,4.274388,5.152630,5.210801,5.084853,5.174886,4.781101,4.059108,5.957742,5.132361
25%,5.916391,6.182026,5.956269,5.839122,6.115280,6.280521,6.023312,6.020694,6.497818,6.429402,...,6.863482,6.782929,6.846413,6.835102,7.265909,7.358105,7.183622,7.133513,8.372891,9.048225
50%,6.694074,6.906514,6.825371,6.923224,6.978982,6.875969,6.954993,7.021150,7.031063,7.181707,...,7.546078,7.558920,7.540442,7.452483,7.848429,8.066598,8.090344,7.995409,9.322585,10.090291
75%,7.478515,7.598632,7.727270,7.671703,7.472015,7.660738,7.808452,7.651106,7.732257,7.779017,...,8.093112,8.217558,8.198289,8.247430,8.586468,8.563498,8.801621,8.929147,10.207520,11.285963
max,10.777521,9.355380,8.957452,9.874048,9.512406,11.242489,11.130639,10.092097,11.804384,13.016412,...,10.670853,12.853470,11.394466,11.274777,10.847808,11.661285,10.727108,11.692726,13.786514,14.564622

In [72]:
df.describe().sort_values(by='2000', axis=0, ascending=True) # Ordena o Describe por uma variável que está na linha (mean)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,média
min,0.000000,3.771308,4.288330,4.223043,4.469505,3.298611,4.080854,4.696548,4.537359,4.645316,...,4.274388,5.152630,5.210801,4.781101,5.084853,5.174886,4.059108,5.957742,5.132361,5.205127
std,1.294308,1.114746,1.120001,1.241078,1.185604,1.193647,1.167516,1.083012,1.291333,1.141171,...,1.242762,1.139535,1.130521,1.238063,1.086134,1.083365,1.409543,1.531527,1.832044,1.013877
25%,6.182026,5.956269,6.115280,6.023312,6.280521,5.916391,5.839122,6.020694,6.429402,6.497818,...,6.782929,6.846413,6.835102,7.183622,7.265909,7.358105,7.133513,8.372891,9.048225,6.863482
mean,6.789792,6.799110,6.870903,6.906196,6.874197,6.753657,6.808354,6.929976,7.138702,7.075074,...,7.501050,7.553722,7.586789,7.944917,7.870453,7.944653,7.964627,9.342295,10.134274,7.489541
50%,6.906514,6.825371,6.978982,6.954993,6.875969,6.694074,6.923224,7.021150,7.181707,7.031063,...,7.558920,7.540442,7.452483,8.090344,7.848429,8.066598,7.995409,9.322585,10.090291,7.546078
75%,7.598632,7.727270,7.472015,7.808452,7.660738,7.478515,7.671703,7.651106,7.779017,7.732257,...,8.217558,8.198289,8.247430,8.801621,8.586468,8.563498,8.929147,10.207520,11.285963,8.093112
max,9.355380,8.957452,9.512406,11.130639,11.242489,10.777521,9.874048,10.092097,13.016412,11.804384,...,12.853470,11.394466,11.274777,10.727108,10.847808,11.661285,11.692726,13.786514,14.564622,10.670853
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,...,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000

In [74]:
df.describe().shape

(8, 23)

### **Transpor um dataframe / Resultado do Describe** ###

In [78]:
with pd.option_context('display.max_rows', 10, 'display.max_columns', 10): print(df)

             Município      2000      2001      2002      2003  ...      2018  \
0       Angra dos Reis  4.688409  5.494377  5.456208  4.961169  ...  5.768262
1              Aperibé  6.461051  8.035925  7.586207  5.600358  ...  8.525663
2             Araruama  6.645656  6.816687  6.897080  6.695695  ...  8.034407
3                Areal  5.726698  5.336697  6.972968  5.740636  ...  8.098789
4   Armação dos Búzios  5.959732  4.814271  4.288330  5.061427  ...  7.490975
..                 ...       ...       ...       ...       ...  ...       ...
87           Três Rios  7.156534  7.823862  8.124866  7.959565  ...  8.495697
88             Valença  7.591392  7.857112  8.717563  8.087337  ...  8.284863
89           Varre-Sai  8.088601  4.376368  5.951672  5.484887  ...  6.060606
90           Vassouras  9.355380  8.211847  9.169002  9.961061  ...  8.582639
91       Volta Redonda  6.690705  6.418506  6.635547  6.649726  ...  8.378738

        2019       2020       2021     média
0   5.471453   6.573482   6.380286  5.299367
1   5.442640   8.318629   9.410974  7.363242
2   8.421450   9.233542  10.998339  7.905830
3   8.431435   8.603678  10.498066  7.194039
4   7.794508   8.556429   9.571598  6.363618
..       ...        ...        ...       ...
87  9.473864  10.019235  11.041854  8.312456
88  9.186780   8.963301  11.278929  8.512180
89  5.727273   7.473438   5.132361  5.961292
90  9.215091  10.058517  12.593372  8.986956
91  8.574715   9.872695  11.307065  7.577701

[92 rows x 24 columns]

In [81]:
df.T # DATAFRAME Transposto

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
Município,Angra dos Reis,Aperibé,Araruama,Areal,Armação dos Búzios,Arraial do Cabo,Barra do Piraí,Barra Mansa,Belford Roxo,Bom Jardim,...,Silva Jardim,Sumidouro,Tanguá,Teresópolis,Trajano de Moraes,Três Rios,Valença,Varre-Sai,Vassouras,Volta Redonda
2000,4.688409,6.461051,6.645656,5.726698,5.959732,6.467723,7.907408,6.319441,7.095374,7.033745,...,5.745541,5.998345,6.151769,7.446628,7.984421,7.156534,7.591392,8.088601,9.35538,6.690705
2001,5.494377,8.035925,6.816687,5.336697,4.814271,5.748282,7.933377,6.428413,6.740335,6.812859,...,5.975088,5.965442,5.145924,8.109457,7.090132,7.823862,7.857112,4.376368,8.211847,6.418506
2002,5.456208,7.586207,6.89708,6.972968,4.28833,6.603401,8.094347,6.964389,6.977634,7.067435,...,5.836934,4.843441,6.098881,7.820788,7.073643,8.124866,8.717563,5.951672,9.169002,6.635547
2003,4.961169,5.600358,6.695695,5.740636,5.061427,6.423983,8.331082,6.570057,6.849225,8.400915,...,5.238971,4.276986,5.533288,8.002832,6.961903,7.959565,8.087337,5.484887,9.961061,6.649726
2004,4.921486,6.33672,7.772473,7.142195,5.418741,6.212848,7.889229,7.215438,6.725617,7.567034,...,5.422545,4.662162,5.92975,7.812756,7.332369,8.060905,8.351623,6.525472,7.868362,6.90423
2005,5.460884,7.576566,6.6995,5.397493,5.500317,5.783843,7.497387,6.403385,6.542731,7.120189,...,6.111571,5.918752,4.874532,7.245675,6.931742,8.411166,7.722772,5.283867,7.118916,6.597782
2006,4.89925,5.740528,7.303447,7.674944,5.665838,5.369728,4.080854,6.420115,6.563988,6.726006,...,7.07623,4.955468,5.91736,7.298806,6.629516,7.381417,7.990114,5.635982,8.032247,6.813595
2007,4.804475,6.029637,7.616204,6.954351,5.509859,5.263158,7.122837,6.381568,6.980673,5.782652,...,6.294799,6.53464,6.09878,7.397015,7.000384,7.838225,7.808905,5.761496,8.728143,6.950649
2008,5.050381,7.105685,7.919771,7.483712,5.552175,5.666751,7.928694,6.7318,7.050071,7.660717,...,6.202619,5.178939,5.813953,7.669762,7.17772,7.647104,8.58488,6.736527,8.456415,7.185693
2009,4.975628,7.056056,7.315322,6.346171,5.771422,6.954651,7.401701,6.857731,6.79983,6.920009,...,6.753652,5.420771,6.571493,7.324248,7.831901,8.04375,8.496247,7.362996,8.87727,7.103647
2010,5.068506,7.202535,7.749426,7.04044,5.373665,6.865312,7.14027,6.955438,6.58688,7.975531,...,6.385813,5.200105,5.840301,7.582927,7.434944,8.005168,8.341297,6.210537,8.978452,7.46422
2011,4.990774,7.578628,7.87171,7.662835,6.094588,6.524942,7.451381,7.1427,6.635728,8.576593,...,6.569276,8.072455,6.037235,9.269473,8.091385,8.537954,8.260757,5.426992,8.221586,7.56522
2012,4.969138,6.727086,7.732373,6.161898,6.031692,7.0234,7.717966,6.752157,6.855158,7.678203,...,7.396178,5.954718,6.948792,7.597151,8.269962,8.261557,8.477441,5.063804,9.107314,7.230508
2013,5.379666,8.847111,8.296612,6.779377,6.53791,6.134335,7.982257,7.486104,7.05173,8.006071,...,6.063669,5.414927,6.47841,7.434058,7.30897,8.599785,9.203073,5.008514,9.281849,7.61659
2014,5.331302,8.63244,8.271976,7.964161,7.050069,7.376042,8.354959,6.959315,6.779633,5.953278,...,6.660542,7.349116,6.045541,7.806343,7.582938,7.552475,8.299977,5.6458,9.257452,7.541472
2015,5.401113,7.881068,8.53153,7.316672,6.863089,7.475814,8.469425,7.447805,6.753558,7.256948,...,8.130081,5.899131,6.833505,7.359051,8.044672,7.516283,8.243112,6.821412,8.426888,7.648398
2016,5.227894,8.042422,8.445358,7.092199,7.820565,9.298708,8.545284,7.978694,7.363417,7.208412,...,8.405677,5.881212,7.099452,8.053653,8.789339,8.364266,8.693578,4.781101,9.143235,7.879401
2017,5.311937,7.853403,8.659694,7.843454,7.272393,9.351433,8.096353,8.325841,7.075639,8.306568,...,7.624472,6.117193,7.094101,7.665167,7.92752,8.558497,8.826906,6.588716,9.067996,7.680327
2018,5.768262,8.525663,8.034407,8.098789,7.490975,8.838384,8.662685,7.832543,7.241248,8.544501,...,8.313048,6.483919,7.410688,8.198534,7.350862,8.495697,8.284863,6.060606,8.582639,8.378738
2019,5.471453,5.44264,8.42145,8.431435,7.794508,8.006854,7.760974,8.329176,7.332073,7.323472,...,7.118582,5.888754,7.927949,7.941115,7.246377,9.473864,9.18678,5.727273,9.215091,8.574715
2020,6.573482,8.318629,9.233542,8.603678,8.556429,10.427222,9.755468,9.922471,8.528253,8.871669,...,9.185267,8.489181,9.101416,8.961138,7.800752,10.019235,8.963301,7.473438,10.058517,9.872695
2021,6.380286,9.410974,10.998339,10.498066,9.571598,10.982905,10.896749,10.712373,8.563332,9.994206,...,9.874162,8.680666,9.505923,9.737299,6.766917,11.041854,11.278929,5.132361,12.593372,11.307065
média,5.299367,7.363242,7.90583,7.194039,6.363618,7.218169,7.955486,7.369862,7.049642,7.581228,...,6.926578,6.053924,6.56632,7.896994,7.483108,8.312456,8.51218,5.961292,8.986956,7.577701

In [79]:
df.T.shape

(24, 92)

In [82]:
df.T.T # Transposta da Transposta = Matriz original(DF)

,Município,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,média
0,Angra dos Reis,4.688409,5.494377,5.456208,4.961169,4.921486,5.460884,4.89925,4.804475,5.050381,...,5.379666,5.331302,5.401113,5.227894,5.311937,5.768262,5.471453,6.573482,6.380286,5.299367
1,Aperibé,6.461051,8.035925,7.586207,5.600358,6.33672,7.576566,5.740528,6.029637,7.105685,...,8.847111,8.63244,7.881068,8.042422,7.853403,8.525663,5.44264,8.318629,9.410974,7.363242
2,Araruama,6.645656,6.816687,6.89708,6.695695,7.772473,6.6995,7.303447,7.616204,7.919771,...,8.296612,8.271976,8.53153,8.445358,8.659694,8.034407,8.42145,9.233542,10.998339,7.90583
3,Areal,5.726698,5.336697,6.972968,5.740636,7.142195,5.397493,7.674944,6.954351,7.483712,...,6.779377,7.964161,7.316672,7.092199,7.843454,8.098789,8.431435,8.603678,10.498066,7.194039
4,Armação dos Búzios,5.959732,4.814271,4.28833,5.061427,5.418741,5.500317,5.665838,5.509859,5.552175,...,6.53791,7.050069,6.863089,7.820565,7.272393,7.490975,7.794508,8.556429,9.571598,6.363618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Três Rios,7.156534,7.823862,8.124866,7.959565,8.060905,8.411166,7.381417,7.838225,7.647104,...,8.599785,7.552475,7.516283,8.364266,8.558497,8.495697,9.473864,10.019235,11.041854,8.312456
88,Valença,7.591392,7.857112,8.717563,8.087337,8.351623,7.722772,7.990114,7.808905,8.58488,...,9.203073,8.299977,8.243112,8.693578,8.826906,8.284863,9.18678,8.963301,11.278929,8.51218
89,Varre-Sai,8.088601,4.376368,5.951672,5.484887,6.525472,5.283867,5.635982,5.761496,6.736527,...,5.008514,5.6458,6.821412,4.781101,6.588716,6.060606,5.727273,7.473438,5.132361,5.961292
90,Vassouras,9.35538,8.211847,9.169002,9.961061,7.868362,7.118916,8.032247,8.728143,8.456415,...,9.281849,9.257452,8.426888,9.143235,9.067996,8.582639,9.215091,10.058517,12.593372,8.986956
91,Volta Redonda,6.690705,6.418506,6.635547,6.649726,6.90423,6.597782,6.813595,6.950649,7.185693,...,7.61659,7.541472,7.648398,7.879401,7.680327,8.378738,8.574715,9.872695,11.307065,7.577701

In [83]:
df.describe().T # Describe - Transposto

,count,mean,std,min,25%,50%,75%,max
2000,92.0,6.789792,1.294308,0.000000,6.182026,6.906514,7.598632,9.355380
2001,92.0,6.799110,1.114746,3.771308,5.956269,6.825371,7.727270,8.957452
2002,92.0,6.870903,1.120001,4.288330,6.115280,6.978982,7.472015,9.512406
2003,92.0,6.906196,1.241078,4.223043,6.023312,6.954993,7.808452,11.130639
2004,92.0,6.874197,1.185604,4.469505,6.280521,6.875969,7.660738,11.242489
2005,92.0,6.753657,1.193647,3.298611,5.916391,6.694074,7.478515,10.777521
2006,92.0,6.808354,1.167516,4.080854,5.839122,6.923224,7.671703,9.874048
2007,92.0,6.929976,1.083012,4.696548,6.020694,7.021150,7.651106,10.092097
2008,92.0,7.138702,1.291333,4.537359,6.429402,7.181707,7.779017,13.016412
2009,92.0,7.075074,1.141171,4.645316,6.497818,7.031063,7.732257,11.804384
2010,92.0,7.271664,1.175198,4.408516,6.468126,7.358026,8.142662,10.450574
2011,92.0,7.370295,1.227336,4.692052,6.544573,7.406652,8.088498,10.934025
2012,92.0,7.339212,1.206427,4.857085,6.591643,7.298473,8.096956,10.514665
2013,92.0,7.501050,1.242762,4.274388,6.782929,7.558920,8.217558,12.853470
2014,92.0,7.553722,1.139535,5.152630,6.846413,7.540442,8.198289,11.394466
2015,92.0,7.586789,1.130521,5.210801,6.835102,7.452483,8.247430,11.274777
2016,92.0,7.944917,1.238063,4.781101,7.183622,8.090344,8.801621,10.727108
2017,92.0,7.870453,1.086134,5.084853,7.265909,7.848429,8.586468,10.847808
2018,92.0,7.944653,1.083365,5.174886,7.358105,8.066598,8.563498,11.661285
2019,92.0,7.964627,1.409543,4.059108,7.133513,7.995409,8.929147,11.692726
2020,92.0,9.342295,1.531527,5.957742,8.372891,9.322585,10.207520,13.786514
2021,92.0,10.134274,1.832044,5.132361,9.048225,10.090291,11.285963,14.564622
média,92.0,7.489541,1.013877,5.205127,6.863482,7.546078,8.093112,10.670853

### **Criação de um dataframe - com 2 colunas - Municipio x Taxa 2021 DF_MUN_2021** ###

In [85]:
df_mun_2021 = df[['Município', '2021']] # Cria um dataframe com 2 colunas municípios e ano (2021)

In [86]:
df_mun_2021.head()

            Município       2021
0      Angra dos Reis   6.380286
1             Aperibé   9.410974
2            Araruama  10.998339
3               Areal  10.498066
4  Armação dos Búzios   9.571598

In [87]:
with pd.option_context('display.max_rows', 10, 'display.max_columns', 2):
    print(df_mun_2021)

             Município       2021
0       Angra dos Reis   6.380286
1              Aperibé   9.410974
2             Araruama  10.998339
3                Areal  10.498066
4   Armação dos Búzios   9.571598
..                 ...        ...
87           Três Rios  11.041854
88             Valença  11.278929
89           Varre-Sai   5.132361
90           Vassouras  12.593372
91       Volta Redonda  11.307065

[92 rows x 2 columns]

In [88]:
df_mun_2021.shape #Dimensões do Dataframe(92.2)

(92, 2)

### **DF_MUN_2021 - Medidas de posição -Dispersão data frame com as médias dos municipios** ###

In [89]:
# ----------------------------------------
# Dataframe df_mun_2021 92 x 2
# ----------------------------------------
# Medidas de posição / Dispersão
# ----------------------------------------
soma=df.sum()
print(soma)

Município    Angra dos ReisAperibéAraruamaArealArmação dos ...
2000                                                624.660895
2001                                                625.518122
2002                                                 632.12304
2003                                                635.370039
2004                                                632.426157
2005                                                621.336456
2006                                                626.368577
2007                                                637.557751
2008                                                656.760604
2009                                                650.906813
2010                                                668.993103
2011                                                678.067118
2012                                                675.207463
2013                                                690.096578
2014                                                694.942442
2015                                                697.984554
2016                                                730.932365
2017                                                 724.08171
2018                                                730.908109
2019                                                732.745721
2020                                                859.491143
2021                                                932.353205
média                                               689.037817
dtype: object

In [94]:
soma  = df_mun_2021['2021'].sum
media = df_mun_2021['2021'].mean()
min   = df_mun_2021['2021'].min()
max   = df_mun_2021['2021'].max()
mediana   = df_mun_2021['2021'].median()
moda1 = df_mun_2021['2021'].mode(1) # Função moda no pandas
moda1.shape # Cada municipio tem uma moda (92)
n=len(moda1)
print('n=',n, '\nmoda1',moda1)
moda2 = stats.mode(df_mun_2021['2021']) # função moda no scipy

var = df_mun_2021['2021'].var() # Variância amaostral (padrão)
dp = df_mun_2021['2021'].std() # desvio padrão amostral
cv = dp/media  # cv = dp/média (amostral)

n= 92
moda1 0      5.132361
1      5.727722
2      6.380286
3      6.692135
4      6.766917
        ...
87    13.177160
88    13.178486
89    13.693758
90    13.716154
91    14.564622
Length: 92, dtype: float64

In [95]:
moda1.shape # Cada municipio tem uma moda (92)

(92,)

In [98]:
# -----------------------------------------------------------------
# Medidas de posição / dispersão - impressão - Ano 2021
# -----------------------------------------------------------------
print("soma: {}".format(soma))
print("Média,........ valores de 2021")
print("média: {:.4f}".format(media))
print("min: {:.4f}".format(min))
print("max: {:.4f}".format(max))
print("mediana: {:.4f}".format(mediana))
print("moda 1: {:.4f}".format(moda1[0]))
print("moda 2: {:}".format(moda2[0]))
print("---------------------------------------------")
#------------------------------------------------------------------
print("VARIÂNCIA-DESVIO PADRÃO-CV (AMOSTRAS)")
print("Varamt: {:.4f}".format(var))
print("DPamt: {:.4f}".format(dp))
print("CVamt: {:.4f}".format(dp/media)) # Coficiente de Variação = Desvio Padrão/Média

soma: <bound method NDFrame._add_numeric_operations.<locals>.sum of 0      6.380286
1      9.410974
2     10.998339
3     10.498066
4      9.571598
        ...
87    11.041854
88    11.278929
89     5.132361
90    12.593372
91    11.307065
Name: 2021, Length: 92, dtype: float64>
Média,........ valores de 2021
média: 10.1343
min: 5.1324
max: 14.5646
mediana: 10.0903
moda 1: 5.1324
moda 2: [5.13236089]
---------------------------------------------
VARIÂNCIA-DESVIO PADRÃO-CV (AMOSTRAS)
Varamt: 3.3564
DPamt: 1.8320
CVamt: 0.1808